// Modules and variables
@import "partials/base";

html, body, .container-fluid {
    height: 100%;
    min-height: 100%;
    padding: 0; // This makes it fill up the edges
    color: $default-color;
    font-weight: bold;
    font-family: $font-stack;
}

.container-fluid {
    display: table; // Fills height

    .row {
        display: table-row;
        width: 100%;

        #score-div {
            position: absolute;
            top: 10%;
            left: 48.5%;
            z-index: 2;
            font-size: 60px;

            -webkit-transform:scale(2,2.5); /* Safari and Chrome */
            -moz-transform:scale(2,2.5); /* Firefox */
            -ms-transform:scale(2,2.5); /* IE 9 */
            transform: scale(2, 2.5);
        }

        .product-div {
            display: table-cell;
            z-index: 1;
            float: none;
            height: 100%;
            min-width: 50vw;

            .pic-div {
                margin: 50px auto;
                width: 300px;
            }

            .item-name-div, .item-price-div {
                text-align: center;
                font-size: 25px;
                margin: 0 auto;
                max-width: 47vw;

                overflow: auto;
                //white-space: nowrap;
                //text-overflow: ellipsis;

            }

            .item-price-div {
                display: flex;
                width: 50%;
                justify-content: center;
            }

            .item-name-div {
                height: 110px;
            }

            .item-value {
                width: 120px;
                height: 50px;
            }

            button {
                margin: 10px;
            }

        }

        #right-col {
            background-color: $initial-bg-right;

            .cred-list {
                list-style: none;
                text-decoration: none;

                li {
                    a {
                        font-size: 25px;
                        color: $default-color;

                        &:hover {
                            position: relative;
                            bottom: 5px;
                            font-size: 32px;
                        }
                    }
                }
            }
        }

        #left-col {
            background-color: $initial-bg-left;
        }


        .price-text {
            display: hidden;
        }

    }
}

.hidden {
    display: none;
}
