// Modules and variables
@import "partials/base";

html, body, .container-fluid {
    height: 100%;
    min-height: 100%;
    padding: 0; // This makes it fill up the edges
    color: $default-color;
    font-weight: bold;
    font-family: $font-stack;
}

.container-fluid {
    display: table; // Fills height

    .row {
        display: table-row;
        width: 100%;

        .product-div {
            display: table-cell;
            float: none;
            height: 100%;
            min-width: 50vw;

            .pic-div {
                margin: 50px auto;
                width: 300px;
            }

            .item-name-div, .item-price-div {
                text-align: center;
                font-size: 25px;
                margin: 0 auto;
                max-width: 47vw;

                overflow: auto;
                //white-space: nowrap;
                //text-overflow: ellipsis;

            }

            .item-name-div {
                height: 110px;
            }

            button {
                margin: 10px;
            }

        }

        #right-col {
            background-color: $initial-bg-right;
        }

        #left-col {
            background-color: $initial-bg-left;
        }


        .price-text {
            display: hidden;
        }

    }
}
