html, body, .container-fluid {
  height: 100%;
  min-height: 100%;
  padding: 0;
  color: #FFFBFA;
  font-weight: bold;
  font-family: "Hammersmith One", "Arial", sans-serif; }

.container-fluid {
  display: table; }
  .container-fluid .row {
    display: table-row;
    width: 100%; }
    .container-fluid .row .product-div {
      display: table-cell;
      float: none;
      height: 100%;
      min-width: 50vw; }
      .container-fluid .row .product-div .pic-div {
        margin: 50px auto;
        width: 300px; }
      .container-fluid .row .product-div .item-name-div, .container-fluid .row .product-div .item-price-div {
        text-align: center;
        font-size: 25px;
        margin: 0 auto;
        max-width: 47vw;
        height: 90px;
        overflow: hidden; }
    .container-fluid .row #right-col {
      background-color: #F0D3F7; }
    .container-fluid .row #left-col {
      background-color: #B98EA7; }
    .container-fluid .row .price-text {
      display: hidden; }
