html, body, .container-fluid {
  height: 100%;
  min-height: 100%;
  padding: 0;
  /* This makes it fill up the edges */
  color: white; }

.container-fluid {
  display: table;
  /* Fills height */ }
  .container-fluid .row {
    display: table-row;
    width: 100%; }
    .container-fluid .row .product-div {
      display: table-cell;
      float: none;
      height: 100%; }
    .container-fluid .row #right-col {
      background-color: #F0D3F7; }
    .container-fluid .row #left-col {
      background-color: #B98EA7; }
    .container-fluid .row .price-text {
      display: hidden; }
