
// Colors
$initial-bg-left: #B98EA7;
$initial-bg-right: #F0D3F7;
$default-color: #FFFBFA;

// Fonts
$font-stack: 'Hammersmith One', 'Arial', sans-serif;

// Screen size
$medium-screen: 800px;
$small-screen: 700px;
